.form {
  padding: 100px;
  display: flex;

  padding-top: 200px;
}

form {
  display: flex;
  flex-direction: column;
  font-size: 25px;

  max-width: 500px;
}

h1 {
  font-size: 35px;
  position: absolute;
  top: 100px;
  margin-left: 30px;
  color: #f9fcfc;
  text-shadow: 5px 5px 5px black;
}

input,
textarea {
  width: 400px;
  padding: 15px;
  color: black;

  margin: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
  border-color: #000066;
  box-shadow: 5px 0px 9px #1500cf;
  background-color: #66ffff;
  color: black;
  font-weight: bold;
}

.enviar {
  background-color: #f8f8f8;
  height: 50px;
  width: 205px;
  font-weight: bold;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid;
  color: black;
}

textarea {
  width: 400px;
  height: 120px;
  line-height: 20px;
  max-width: 400px;
}

form label {
  margin-left: 20px;
  color: #ffffff;
  font-weight: bold;
}
