.form {
  padding: 0px 0 300px 60px;
  display: flex;
}

form {
  flex-direction: column;
  margin-left: 300px;
  font-size: 25px;
  max-width: 900px;
}
.foto {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}
h1 {
  font-size: 35px;
  color: #f9fcfc;
  text-shadow: 5px 5px 5px black;
  margin-top: 100px;
}

input {
  padding: 15px;
  color: rgb(0, 0, 0);
  margin: 10px;
  max-width: 1100px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid;
}
textarea {
  padding: 15px 480px 100px 0;

  margin: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid;
}
textarea::placeholder {
  padding-left: 10px;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
  border-color: #000066;
  box-shadow: 5px 0px 9px #1500cf;
  background-color: #66ffff;
  color: black;
  font-weight: bold;
}

.enviar {
  background-color: #f8f8f8;
  height: 50px;
  width: 205px;
  font-weight: bold;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid;
  color: black;
}

textarea {
  width: 400px;
  height: 120px;
  line-height: 20px;
  max-width: 400px;
}

form label {
  margin-left: 20px;
  color: #ffffff;
  font-weight: bold;
}

.pol {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 110px;
  font-size: 1px;
  color: white;
}
.check {
  height: 100px;
}
