.sol {
  color: rgb(0, 0, 0);
  font-size: 35px;
  background-color: rgb(216, 209, 209);
  padding: 100px 0 300px 60px;
}

.item {
  padding: 15px;
  font-size: 20px;
  text-align: justify;
  width: 60%;
}
