footer {
  background-color: #182544;
  position: absolute;

  width: 100%;
}
.social_list {
  display: flex;
  flex-direction: row;

  color: #3cc4f0;
}

.social_list li {
  height: 20px;
  margin: 10px 0 0 10px;
  list-style: none;
}

.social_list li:hover {
  color: #000000;
}

.social_list svg {
  font-size: 2em;
  cursor: pointer;
}

.copy_right {
  text-align: center;
  font-size: 1.5em;
  color: #fff;
}

.copy_right span {
  color: #3cc4f0;
  font-weight: bold;
}
