.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #182544;
  opacity: 100%;
}

.item a {
  text-decoration: none;
  color: white;
  font-size: 1em;
}
.item a:hover {
  color: aqua;
}
.social_list {
  color: #3cc4f0;
  text-align: center;
  list-style-type: none;
}

.social_list li {
  height: 20px;
  padding-bottom: 20px;
}

.social_list li:hover {
  color: #000000;
}

.social_list svg {
  font-size: 1.5em;
  cursor: pointer;
}

.copy_right {
  position: absolute;
  margin-top: 100px;
  font-size: 1.5em;
  color: #fff;
}

.copy_right span {
  color: #3cc4f0;
  font-weight: bold;
}
