.tit {
  display: flex;
  flex-direction: column;

  padding: 2px;
}
.home {
  margin-top: 100px;
  font-size: 80px;
  padding: 0px 0 10px 100px;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
}
.foto {
  display: flex;
  margin-left: 200px;
}
.tit span {
  font-size: 150px;
  color: #fdfdfd;
  padding: 0 5px 0 5px;
  background-color: #182544;
  border-radius: 20px;
}

.about {
  max-width: 800px;
  margin-left: 100px;

  font-size: 30px;
  color: #fafafa;
  width: 800px;
  text-align: justify;
}

.solutions {
  background-color: rgb(153, 138, 138);
  padding: 200px 0 400px 100px;
}
.sol {
  color: #f0f0f0;
  font-size: 35px;
  margin-left: 30px;
  padding-top: 100px;
}

.item {
  padding-top: 30px;
  font-size: 25px;
  text-align: justify;
  width: 70%;
}
