.navbar {
  font-size: 20px;
  position: fixed;
  width: 100%;
  padding: 0px;
  background-color: #182544;
  opacity: 100%;
}
.logo {
  width: 60px;
  position: absolute;
  left: 15px;
  top: 10px;
}
.logo:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.list {
  display: flex;
  align-items: flex-end;
  list-style: none;
}

.item {
  margin-right: 1em;
}

.item a {
  color: rgb(250, 250, 250);
  text-decoration: none;
}

.item a:hover {
  color: #1f7ce6;
  text-decoration: none;
}
